<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frank.core.system.menu.mapper.MenuMapper">
  
  <select id="selectById" resultType="com.frank.core.system.menu.entity.Menu">
  		SELECT
  			(select name from sys_menu b where b.id = a.parent_id) parentName,
			a.* 
		FROM
			sys_menu a
		WHERE
			id = #{id}
  </select>
  
  <select id="list" resultType="com.frank.core.system.menu.entity.Menu">
  		select * from sys_menu a
  		<where>
  			<if test="name != null and name != ''">
  				and a.name like concat('%',#{name},'%')
  			</if>
  			<if test="type != null and type != ''">
  				and a.type = #{type}
  			</if>
  			<if test="perms != null and perms != ''">
  				and a.perms like concat('%',#{perms},'%')
  			</if>
  			<if test="status != null and status != ''">
  				and a.status = #{status}
  			</if>
  		</where>
  		order by a.sort, a.create_time
  </select>
  
  <insert id="insert">
  		insert into sys_menu(
			parent_id,
			name,
			url,
			type,
			open_type,
			status,
			perms,
			icon,
			sort,
			create_time,
			create_by,
			update_time,
			update_by,
			remark
  		)values(
  			#{parentId},
			#{name},
			#{url},
			#{type},
			#{openType},
			#{status},
			#{perms},
			#{icon},
			#{sort},
			#{createTime},
			#{createBy},
			#{updateTime},
			#{updateBy},
			#{remark}
  		)
  </insert>
  
  <update id="update">
  		update sys_menu 
  		<set>
  			<if test="parentId != null">
  				,parent_id = #{parentId}
  			</if>
  			<if test="name != null and name != ''">
  				,name = #{name}
  			</if>
  			<if test="type != null and type != ''">
  				,type = #{type}
  			</if>
  			<if test="openType != null and openType != ''">
  				,open_type = #{openType}
  			</if>
  			,url = #{url}
  			,perms = #{perms}
  			<if test="icon != null and icon != ''">
  				,icon = #{icon}
  			</if>
  			<if test="status != null and status != ''">
  				,status = #{status}
  			</if>
  			<if test="sort != null and sort != ''">
  				,sort = #{sort}
  			</if>
  			<if test="updateBy != null and updateBy != ''">
  				,update_by = #{updateBy}
  			</if>
  			<if test="remark != null and remark != ''">
  				,remark = #{remark}
  			</if>
  		</set>
 	 	where id = #{id}
  </update>
  
  <delete id="delete">
  		delete from sys_menu where id = #{id}
  </delete>
  
  <delete id="batchDelete">
  		delete from sys_menu where id in 
  		<foreach index="index" collection="idList" item="item"  separator="," open="(" close=")" >
  			#{item}
  		</foreach>
  </delete>  
  
  <select id="selectMenuTree" resultType="com.frank.core.system.menu.entity.MenuTree">
	  SELECT
		  c.*,
		  c.name as "title",
		  c.url as "href"
	  FROM
		  sys_user a,
		  sys_role b,
		  sys_menu c,
		  sys_user_role d,
		  sys_role_menu e
	  WHERE a.id = d.user_id
		AND b.id = d.role_id
		AND b.id = e.role_id
		AND c.id = e.menu_id
		AND a.username = #{currentUsername}
		AND c.type in ( '1', '2')
		AND c.status = '1'
	  ORDER BY c.sort, c.create_time
  </select>
  
</mapper>